__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
venv/
.mypy_cache/
.pytest_cache/
.DS_Store
artifacts/model/*.bak
artifacts/metrics/*.bak
mlruns/
mlartifacts/
mlflow.db
.dvc/cache/
.dvc/tmp/
grafana-storage/
